@import 'index.scss';

.button {
    box-sizing: border-box;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 10px 40px;
    margin: 20px;
    border-radius: 40px;
    font-weight: 500;

    &-dark{
        color: $color-white;
        background-color: $color-lightBlue;
    }

        &:hover{
            background-color: darken( $color-lightBlue, 15% ); 
        }
    }