@import "index.scss";

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px 20px 20px;

    &-full {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    &-flex {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-flex-space-between {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-warning {
        background: $color-red;
        background: linear-gradient(90deg, $color-red 0%, $color-orange 100%);
        color: $color-white;
        font-weight: 600;
    }

    &-sticky {
        position: fixed;
        bottom: 0;
        left: 0;
    }

    &-dark {
        background: $color-blue;
        background: linear-gradient(90deg, $color-blue 0%, $color-purple 100%);
        color: $color-white;
    }   
}

.info {
    height: 200px;
    font-size: 25px;
    text-align: center;
    color: $color-blue;
    font-style: italic;
    margin-top: 100px;
}

.m {
    &-top-10 {
        margin-top: 10px;
    }
}
