
@import "index.scss";

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px 20px 20px;

    &-full {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    &-dark {
        background: $color-blue;
        background: linear-gradient(90deg, $color-blue 0%, $color-purple 100%);
        color: $color-white;
    }
    &-flex {
        display: flex;
        justify-content: center;
    }
    
}