$color-turquoise: #63CAB9;
$color-red: #FE5858;
$color-orange: #FFB548;
$color-purple: #635D9D;
$color-lightBlue: #4285f4;
$color-blue: #113A72;
$color-white: #fff;
$color-black: #000;

body {
    font-family: "Open Sans";
}

h1 {
    margin: 20px;
}

